{{ define "content" }}
<section class="page-header minimal page-title-left light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <!-- TITLE-->
                <h2 class="text-uppercase" data-animated="fadeInLeftBig" data-animation-delay="400">Shop Single</h2>
                <!-- TEXT-->
                <p data-animated="fadeInDownBig" data-animation-delay="400">We ensure quality &amp; support. People love us &amp; we love them.</p>
                <!-- BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Product</a>
                    </li>
                    <li class="active">{{ .Title }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="shop-section sidebar-wrapper right-sidebar">
    <!-- CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 sidebar-content">
                <div class="row bottom-padding-md">
                    <div class="col-md-5">
                        <!-- PRODUCT-->
                        <div class="item text-left">
                            <!-- IMAGE -->
                            <img class="img-responsive" src="{{ .Params.Image }}" width="370" height="470" alt="">
                          
                        </div>
                        <div class="padding-bottom-50"></div>
                    </div>
                    <div class="col-md-7">
                        <!-- PRODUCT DETAILS-->
                        <h4 class="product-title">
                            <a class="product-name" href="#">{{ .Title }}</a>
                            <span class="product-price"> {{ .Params.Amount }}</span>
                        </h4>
                        <hr class="style11">
                        <!-- CONTENT-->
                        <div class="product-content">
                            {{ .Params.Discription  }}
                        </div>
                        <!-- LINK -->
                        <button class="btn btn-dark btn-md btn-square btn-hv-theme btn-default">Get a quote<i class="fa fa-shopping-cart left-pad"></i></button>
                       
                    </div>
                </div>
                <!--RELATED -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- CAROUSEL -->
                        <div class="owl-carousel" data-items="1" data-margin="30" data-loop="true" data-merge="true" data-nav="false" data-dots="false" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="4" data-autoplay="true" data-delay="6000">
                            <!-- PRODUCT-->
                            {{ range where .Site.RegularPages "Type" "product" }}          
                            <div class="item text-left">
                                <!-- IMAGE -->
                                <img class="img-responsive" src="{{ .Params.Image }}" width="370" height="470" alt="" />
                                <!-- PRODUCT DETAILS-->
                                <h5 class="product-title">
                                    <a class="product-name" href="{{ .Permalink }}">{{ .Title }}</a>
                                    <span class="product-price"> - Rs. {{ .Params.Amount }}</span>
                                </h5>
                                <!-- LINK -->
                            </div>
                            {{ end }}
                        </div>
                        <!-- /. CAROUSEL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.CONTAINER -->
</section>
{{ end }}