{{ define "content" }}
<section class="page-header minimal page-title-left light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <!-- TITLE-->
                <h2 class="text-uppercase" data-animated="fadeInLeftBig" data-animation-delay="400">Shop Single</h2>
                <!-- TEXT-->
                <p data-animated="fadeInDownBig" data-animation-delay="400">We ensure quality &amp; support.</p>
                <!-- BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">Product</a>
                    </li>
                    <li class="active">{{ .Title }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="shop-section sidebar-wrapper right-sidebar">
    <!-- CONTAINER -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 sidebar-content">
                <div class="row bottom-padding-md">
                    <div class="col-md-5">
                        <!-- PRODUCT-->
                        <div class="item text-left">
                            <!-- IMAGE -->
                            {{ if ( gt ( .Params.GalleryImages ) 0 ) }}
                            <div class="owl-carousel nav-bottom  dots-dark dots-outer dots-mini" data-items="1" data-margin="0" data-loop="true" data-merge="true" data-nav="false" data-dots="true" data-stagepadding="" data-mobile="1" data-tablet="1" data-desktopsmall="1" data-desktop="1" data-autoplay="true" data-delay="6000">
                                <div class="item text-left">
                                    <img class="img-responsive" src="{{ .Params.Image }}" width="370" height="470" alt="" />
                                </div>
                                {{ range .Params.GalleryImages }}   
                                <div class="item text-left">
                                    <img class="img-responsive" src="{{ . }}" width="370" height="470" alt="" />
                                </div>
                                {{ end }}
                            </div>
                            {{ else }}
                            <img class="img-responsive" src="{{ .Params.Image }}" width="370" height="470" alt="">
                            {{ end }}
                        </div>
                        <div class="padding-bottom-50"></div>
                    </div>
                    <div class="col-md-7">
                        <!-- PRODUCT DETAILS-->
                        <h4 class="product-title">
                            <a class="product-name" href="#">{{ .Title }}</a>
                            <span class="product-price"> {{ .Params.Amount }}</span>
                        </h4>
                        <hr class="style11">
                        <!-- CONTENT-->
                        <div class="product-content">
                            {{ .Params.Discription  }}
                        </div>
                        <!-- LINK -->
                        <button class="btn btn-dark btn-md btn-square btn-hv-theme btn-default" data-toggle="modal" data-target="#product-quote-modal" >Get a quote<i class="fa fa-shopping-cart left-pad"></i></button>
                   
                    </div>
                </div>
                <!--RELATED -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- CAROUSEL -->
                        <div class="owl-carousel" data-items="1" data-margin="30" data-loop="true" data-merge="true" data-nav="false" data-dots="false" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="4" data-autoplay="true" data-delay="6000">
                            <!-- PRODUCT-->
                            {{ range where .Site.RegularPages "Type" "product" }}          
                            <div class="item text-left">
                                <!-- IMAGE -->
                                <img class="img-responsive" src="{{ .Params.Image }}" width="370" height="470" alt="" />
                                <!-- PRODUCT DETAILS-->
                                <h5 class="product-title">
                                    <a class="product-name" href="{{ .Permalink }}">{{ .Title }}</a>
                                    <span class="product-price"> - Rs. {{ .Params.Amount }}</span>
                                </h5>
                                <!-- LINK -->
                            </div>
                            {{ end }}
                        </div>
                        <!-- /. CAROUSEL -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.CONTAINER -->
</section>
<!-- MODAL BOX Small -->
<div class="modal fade" id="product-quote-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="margin-20">
                    <h3 class="modal-title bottom-line text-color" id="myModalLabel">Request A Quote For {{ .Title }}</h3>
                    <p>Complete the form below get your free quote</p>
                </div>
            </div>
            <div class="modal-body">
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form form-flat">
                    <!-- Form Begins -->
                    <form role="form" name="product-form" id="bootstrap-form" method="post" data-netlify="true">
                        <!-- Field 1 -->
                        <div class="input-text form-group margin-bottom-30">
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name" />
                        </div>
                        <!-- Field 2 -->
                        <!-- <div class="input-email form-group margin-bottom-30">
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="Email" />
                        </div> -->
                        <!-- Field 3 -->
                        <div class="input-email form-group margin-bottom-30">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                        </div>
                        <!-- Field 4 -->
                        <div class="textarea-message form-group margin-bottom-30">
                            <textarea name="requirment" class="textarea-message form-control" placeholder="Requirment" rows="4"></textarea>
                        </div>
                        <div class="input-email form-group margin-bottom-30">
                            <input type="text" name="quantity" class="input-phone form-control" placeholder="Quantity" />
                        </div>
                        <input name="productname" type="hidden" value="{{ .Title }}">
                        <!-- Button -->
                        <button class="btn btn-lg btn-theme btn-hv-dark btn-rounded btn-default btn-inline" type="submit">
                            <i class="fa fa-envelope right-pad"></i>SEND MESSAGE</button>
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}