<!DOCTYPE html>
<html lang="en">
    {{ partial "header/site-header.html" . }}
    <body>
        <!-- Page Loader -->
        <!-- <div id="pageloader">
            <div class="loader-inner">
                <img src="images/base/loader.gif" alt="">
            </div>
        </div> -->
        <!-- PAGE WRAPPER -->
        <div id="page-wrapper" class="right-push header-dropdown-dark">    
            <!-- /. STICKY WRAPPER -->
            <!-- /.SIDE BAR WRAPPER -->
            <div class="content-wrapper">
                {{ partial "header/site-navigation.html" . }}
            </div>
            {{ block "content" .}}{{ end }}
            <!-- FOOTER SECTION -->
        
            {{ partial "footer/site-footer.html" . }}

            <!-- FOOTER SECTION -->
        </div>
        <!-- /. PAGE WRAPPER -->
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/bootstrapValidator.min.js"></script>
        <script type="text/javascript" src="/js/jquery.mmenu.min.all.js"></script>
        <script type="text/javascript" src="/js/jquery.sticky.js"></script>
        <script type="text/javascript" src="/js/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/js/jquery.appear.min.js"></script>
        <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/js/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="/js/count-to.js"></script>
        <script type="text/javascript" src="/js/custom.js"></script>
    </body>
</html>