<footer id="footer" class="footer dark-bg">
    <div class="container special-btn">
        <!-- BUTTON -->
        <button data-toggle="modal" data-target="#contact-modal" class="btn btn-theme btn-hv-dark btn-square btn-default">CONTACT NOW<i class="fa left-pad fa-envelope"></i></button>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 bottom-padding">
                    <!-- LOGO -->
                    <img src="/images/logo-light.png" alt="logo" width="85" height="19">
                    <br>
                    <p>Janvi Enterpeises is fastest growing company with over 5 years of expertise in Trade & Distributor of World Class Surgical, Medical & Healthcare products. 
                    </p>
                </div>
                <div class="col-md-4 col-sm-6 bottom-padding footer-widgets">
                    <!-- ADDRESS -->
                    <h5 class="widget-title text-uppercase">Our Office</h5>
                    <address>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-map-marker"></i>
                        </div>	
                        <div class="inner-wrapper">
                            <!-- ADDRESS -->
                            <p class="feature-description">janavienterprises.com<br> Shop no. 7, Omlata Jain Tower, Anand Nagar, Near Pritam Decorator's Vasai West, Palghar - 401202</p>	
                        </div>	
                    </div>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-phone"></i>
                        </div>	
                        <div class="inner-wrapper">
                            <!--  PHONE NUMBER -->
                            <p class="feature-description"> +91 96999 86991</p>
                        </div>	
                    </div>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-envelope"></i>
                        </div>	
                        <div class="inner-wrapper">
                            <!-- EMAIL -->
                            <p class="feature-description"><a class="a-active" href="mailto:info@janavienterprises.com">support@janavienterprises.com</a></p>
                        </div>	
                    </div>
                    </address>
                </div>
                <div class="col-md-4 bottom-padding footer-widgets">
                    <!-- QUICK LINKS -->
                    <h5 class="widget-title text-uppercase">Quick Links</h5>
                    <ul class="arrow-list menu clearfix">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/product">Products</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                </div>
                <!-- <div class="col-md-3 col-sm-6 bottom-padding footer-widgets">
                    <h5 class="widget-title text-uppercase">Email Newsletter</h5>
                    <p>Subscribe to Our Newsletter to get Important News, Amazing Offers & Inside Scoops:</p>
                    <p class="form-message1" style="display: none;"></p>
                    <form class="input-group form-flat form-theme padding-top-10" name="subscribe-form" method="post" action="php/subscription.php" id="subscribe-form">
                        <div class="form-group has-feedback">
                            <input class="form-control typo-light" type="email" placeholder="Enter Your Email" value="" name="subscribe_email">
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="flaticon-next-1 fa"></i></button>
                        </span>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
    <div class="footer-bottom footer-top-border">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; 2020 Janavi Enterprises<a href="index.html"></a>. All Rights Reserved.
                        <!-- <ul class="footer-bottom-links">
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Cookie policy </a></li>
                        </ul> -->
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <!-- <ul class="footer-social-icons">
                        <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook text-darkest social-facebook-hvcolor"></i></a></li>
                        <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter text-darkest social-twitter-hvcolor"></i></a></li>
                        <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin text-darkest social-linkedin-hvcolor"></i></a></li>
                        <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest text-darkest social-pinterest-hvcolor"></i></a></li>
                        <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus text-darkest social-google-plus-hvcolor"></i></a></li>
                        <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube text-darkest social-youtube-hvcolor"></i></a></li>
                        <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble text-darkest social-dribbble-hvcolor"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</footer>

     <!-- MODAL BOX Small -->
     <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="margin-20">
                        <h3 class="modal-title bottom-line text-color" id="myModalLabel">Contact us</h3>
                        <p>Have any questions? Send us a message.</p>
                    </div>
                </div>
                <div class="modal-body">
                    <p class="form-message" style="display: none;"></p>
                    <div class="contact-form form-flat">
                        <!-- Form Begins -->
                        <form role="form" name="bootstrap-form" id="bootstrap-form" method="post" action="php/contact-form.php">
                            <!-- Field 1 -->
                            <div class="input-text form-group margin-bottom-30">
                                <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name" />
                            </div>
                            <!-- Field 2 -->
                            <div class="input-email form-group margin-bottom-30">
                                <input type="email" name="contact_email" class="input-email form-control" placeholder="Email" />
                            </div>
                            <!-- Field 3 -->
                            <div class="input-email form-group margin-bottom-30">
                                <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                            </div>
                            <!-- Field 4 -->
                            <div class="textarea-message form-group margin-bottom-30">
                                <textarea name="contact_message" class="textarea-message form-control" placeholder="Message" rows="4"></textarea>
                            </div>
                            <!-- Button -->
                            <button class="btn btn-lg btn-theme btn-hv-dark btn-round btn-default btn-inline" type="submit">
                                <i class="fa fa-envelope right-pad"></i>SEND MESSAGE</button>
                        </form>
                        <!-- Form Ends -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL BOX Small END -->
    <a href="#" id="back-to-top" title="Back to top"></a>
    <a href="https://web.whatsapp.com/send?phone=919699986991" class="whatsApp" target="_blank"><i class="fa fa-whatsapp my-whatsApp"></i></a>

    <style>
        .whatsApp{
            position:fixed;
            width:60px;
            height:60px;
            bottom:40px;
            right:40px;
            background-color:#25d366;
            color:#FFF;
            border-radius:50px;
            text-align:center;
            font-size:30px;
            box-shadow: 2px 2px 3px #999;
            z-index:100;
        }
        .my-whatsApp{
            margin-top:16px;
        }
    </style>