{{ define "content" }}
<section class="page-header default" style="padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <!-- TITLE-->
                <h2 class="text-uppercase" data-animated="fadeInLeftBig" data-animation-delay="400"  style="font-size: 50px;">About Us</h2>
                <!-- TEXT-->
                <p data-animated="fadeInDownBig" data-animation-delay="400">We ensure quality & support. </p>
            </div>
        </div>
    </div>
</section>
<!-- PAGE HEADING SECTION -->
<!-- CTA SECTION -->
<section class="theme-bg no-padding typo-light">
    <div class="container top-padding">
        <div class="row">

        </div>
    </div>
</section>
<!-- CTA SECTION -->
<!-- ABOUT SECTION -->
<section id="about-us" class="no-bottom-padding">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-5 text-center" data-animation="fadeInUp" data-delay="100">
                <img class="img-responsive" src="images/about.jpg" alt="" width="860" height="750" />
            </div> -->
            <div class="col-md-12" data-animation="fadeInUp" data-delay="200">
                <!-- TITLE -->
                <h3 class="bottom-line">Janvi Enterprises</h3>
                <!-- TEXT -->
                <p>
                    Janvi Enterprises is fastest growing company with over 5 years of expertise in Trade & Distributor of World Class Surgical, Medical & Healthcare products. Janvi Enterpeises is also importer of best quality Surgical, Medical & Healthcare products in india. Company has vast distribution network and clients all across the country.
                </p>
                <p>
                    ESTABLISHED DATE: August 1st , 2015 <br>
                    OWNERSHIP: Private ownership. Main holder: VAIBHAV JAIN <br>
                    EMPLOYEES: Approximately 10 <br>
                     
                </p>
                <h3 class="bottom-line">MAIN BUSINESS</h3>
                <p>
                    Our first company was established in the year 2001 as whole seller  than in the year 2005, we entered in the market of marketing and distribution of surgical Equipments and started our trading company, and still now we are always seeing the steady growth of our company right now we having a strong trading company, and 1 retail outlet
                </p>
                <p>
                    ‌We are Authorized Distributors for Karma Health Care, Bonbon Products , Medura Health Care, Arrex. 
                </p>
                <p>
                    Our major products of distribution are respiratory products like masks, cannullas, Nebulizers, suction machine and oxygen concentrator and manufacturing of hospital furniture and rehabilitation products like hospital beds, Walker and commode chairs. We are also interested in increasing the product range.
                </p>
                </h3>
            </div>
        </div>
        <hr class="hr-lg">
        <div class="row">
            <div class="col-md-4 bottom-margin">
                <!-- FEATURE BOX -->
                <div class="feature-box hv-wrapper" data-animation="fadeInUp" data-delay="300">
                    <div class="feature-inner-wrapper">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="flaticon-shape-14 fa fa-2x icon-shape-circle icon-light icon-theme-bg"></i>
                        </div>
                        <div class="feature-title bottom-line">
                            <!-- FEATURE TITLE -->
                            <h5>Customer First</h5>
                        </div>
                    </div>
                    <!-- FEATURE DESCRIPTION -->
                    <!-- <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p> -->
                </div>
                <!-- /.FEATURE BOX -->
            </div>
            <div class="col-md-4 bottom-margin">
                <!-- FEATURE BOX -->
                <div class="feature-box hv-wrapper" data-animation="fadeInUp" data-delay="400">
                    <div class="feature-inner-wrapper">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="flaticon-cogwheel fa-2x icon-shape-circle icon-light icon-theme-bg"></i>
                        </div>
                        <div class="feature-title bottom-line">
                            <!-- FEATURE TITLE -->
                            <h5>5+ years Experience</h5>
                        </div>
                    </div>
                    <!-- FEATURE DESCRIPTION -->
                    <!-- <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p> -->
                </div>
                <!-- /.FEATURE BOX -->
            </div>
            <div class="col-md-4 bottom-margin">
                <!-- FEATURE BOX -->
                <div class="feature-box hv-wrapper" data-animation="fadeInUp" data-delay="500">
                    <div class="feature-inner-wrapper">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="flaticon-shape-2 fa-2x icon-shape-circle icon-light icon-theme-bg"></i>
                        </div>
                        <div class="feature-title bottom-line">
                            <!-- FEATURE TITLE -->
                            <h5>Professional Team</h5>
                        </div>
                    </div>
                    <!-- FEATURE DESCRIPTION -->
                    <!-- <p class="feature-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p> -->
                </div>
                <!-- /.FEATURE BOX -->
            </div>
        </div>
    </div>
</section>

<!-- ABOUT SECTION -->
{{end}}
