{{ define "content" }}

<section class="bg-fixed bg-image section bg-no-repeat typo-light" data-background="images/slide.jpg">
    <div class="container slider-content text-center">
        <div class="row">
            <div class="col-md-12 top-padding-lg scroll">
                <!-- TITLE -->
                <h2 class="text-uppercase medium bottom-line">Committed to provide <br> <span class="text-color">BEST quality</span></h2>
                <h4 class="text-uppercase">In-time delivery and a very happy experience to our customers</h4>
            </div>
        </div>
    </div>
</section>
<div class="light-bg no-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- TEXT -->
                <div class="cta-text" data-animate="fadeInLeft" data-animation-delay="1200">We ensure quality & support. People love us & we love them.</div>
                <div class="cta-btn page-scroll" data-animate="fadeInRight" data-animation-delay="1200">
                    <!-- BUTTON -->
                    <button data-toggle="modal" data-target="#quote-modal" class="btn no-margin btn-dark btn-hv-theme btn-rounded btn-default">GET A QUOTE</button>
                    <!-- BUTTON -->
                    <a href="/project" class="btn no-margin btn-dark btn-hv-theme btn-rounded btn-default">OUR PROJECTS</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL BOX Small -->
<div class="modal fade" id="quote-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="margin-20">
                    <h3 class="modal-title bottom-line text-color" id="myModalLabel">Request A Free Quote</h3>
                    <p>Complete the form below get your free quote</p>
                </div>
            </div>
            <div class="modal-body">
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form form-flat">
                    <!-- Form Begins -->
                    <form role="form" name="bootstrap-form" id="bootstrap-form" method="post" action="php/contact-form.php">
                        <!-- Field 1 -->
                        <div class="input-text form-group margin-bottom-30">
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name" />
                        </div>
                        <!-- Field 2 -->
                        <div class="input-email form-group margin-bottom-30">
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="Email" />
                        </div>
                        <!-- Field 3 -->
                        <div class="input-email form-group margin-bottom-30">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone" />
                        </div>
                        <!-- Field 4 -->
                        <div class="textarea-message form-group margin-bottom-30">
                            <textarea name="contact_message" class="textarea-message form-control" placeholder="Message" rows="4"></textarea>
                        </div>
                        <!-- Button -->
                        <button class="btn btn-lg btn-theme btn-hv-dark btn-rounded btn-default btn-inline" type="submit">
                            <i class="fa fa-envelope right-pad"></i>SEND MESSAGE</button>
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SERVICES SECTION -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center bottom-padding">
                <!-- TITLE -->
                <h5>Janvi Enterpeises</h5>
                <!-- TEXT  -->
                <!-- <h2 class="text-uppercase">we can manage your finance</h2> -->
                <p class="title-description">
                    Janvi Enterpeises is fastest growing company with over 5 years of expertise in Trade & Distributor of World Class Surgical, Medical & Healthcare products. Janvi Enterpeises is also importer of best quality Surgical, Medical & Healthcare products in india. Company has vast distribution network and clients all across the country.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- CAROUSEL -->
                <div class="owl-carousel" data-items="1" data-margin="30" data-loop="true" data-merge="true" data-nav="false" data-dots="false" data-stagepadding="" data-mobile="1" data-tablet="2" data-desktopsmall="3" data-desktop="3" data-autoplay="true" data-delay="6000">
                    <div class="item hv-wrapper">
                        <div class="feature-text">
                            <!-- ICON -->
                            <i class="flaticon-bag fa-4x icon-shape-circle icon-light icon-theme-bg icon-hvtheme icon-hvtransparent-bg icon-hvbordered-theme border b2 solid"></i>
                            <br>
                            <br>
                            <!-- TITLE -->
                            <h5 class="text-uppercase">24/7 availability</h5>
                            <!-- TEXT -->
                            <p></p>
                            <!-- BUTTON -->
                            <!-- <button class="btn btn-outline btn-hv-dark btn-md btn-rounded">LEARN MORE</button> -->
                        </div>
                    </div>
                    <div class="item hv-wrapper">
                        <div class="feature-text">
                            <!-- ICON -->
                            <i class="flaticon-money fa-4x icon-shape-circle icon-light icon-theme-bg icon-hvtheme icon-hvtransparent-bg icon-hvbordered-theme border b2 solid"></i>
                            <br>
                            <br>
                            <!-- TITLE -->
                            <h5 class="text-uppercase">Free consultation</h5>
                            <!-- TEXT -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
                            <!-- BUTTON -->
                            <!-- <button class="btn btn-outline btn-hv-dark btn-md btn-rounded">LEARN MORE</button> -->
                        </div>
                    </div>
                    <div class="item hv-wrapper">
                        <div class="feature-text">
                            <!-- ICON -->
                            <i class="flaticon-graphic fa-4x icon-shape-circle icon-light icon-theme-bg icon-hvtheme icon-hvtransparent-bg icon-hvbordered-theme border b2 solid"></i>
                            <br>
                            <br>
                            <!-- TITLE -->
                            <h5 class="text-uppercase">Debit & Credit cards accepted</h5>
                            <!-- TEXT -->
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p> -->
                            <!-- BUTTON -->
                            <!-- <button class="btn btn-outline btn-hv-dark btn-md btn-rounded">LEARN MORE</button> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.CONTAINER -->
</section>
<!-- SERVICES SECTION -->

                <!-- WHY CHOOSE US SECTION -->
<section id="why-choose-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="section-title bottom-line">Why Choose Us?</div>
            </div>
            <div class="col-md-3 bottom-padding-sm" data-animation="fadeInLeft">
                <div class="item-box light-bg">
                    <h5>World Class Services</h5>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum blandit faucibus.</p> -->
                </div>
            </div>
            <div class="col-md-3 bottom-padding-sm" data-animation="fadeInRight">
                <div class="item-box light-bg">
                    <h5>Affordable Prices</h5>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum blandit faucibus.</p> -->
                </div>
            </div>
            <div class="col-md-3 bottom-padding-sm" data-animation="fadeInRight">
                <div class="item-box light-bg">
                    <h5>Great Support</h5>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum blandit faucibus.</p> -->
                </div>
            </div>
            <div class="col-md-3 bottom-padding-sm" data-animation="fadeInLeft">
                <div class="item-box light-bg">
                    <h5>Satisfied Customers</h5>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum blandit faucibus.</p> -->
                </div>
            </div>
		</div>
    </div>
</section>                                    
                    <!-- WHY CHOOSE US SECTION -->
     
<section id="screenshot">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- SECTION TITLE -->
                <div class="section-title bottom-line">
                    <h3>Our Products</h3>
                    <!-- TEXT -->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et culpa dolore odio voluptate suscipit corporis sed ad sunt autem! </p> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- CAROUSEL -->
                <div class="owl-carousel" data-items="1" data-margin="30" data-loop="true" data-merge="true" data-nav="false" data-dots="false" data-stagepadding="" data-mobile="2" data-tablet="3" data-desktopsmall="3" data-desktop="3" data-autoplay="true" data-delay="6000">
                    <!-- ITEM -->
                    {{ range where .Site.RegularPages "Type" "product" }}          
                    <div class="item">
                        <!-- IMAGE -->
                        <a href="{{ .Params.Image }}" class="feature-image" data-rel="prettyPhoto[portfolio]"><img class="img-responsive bottom-margin-sm img-rounded" src="{{ .Params.Image }}" alt="" width="500" height="400" /></a>
                        <!-- TITLE -->
                       <a href="{{ .Permalink }}">  <h5>{{ .Title }}</h5>
                        <p> Rs. {{ .Params.Amount }}</p></a>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>     
     
{{end}}