<header class="header-details-toggle header-light header-sticky-light">
    <!-- HEADER TOP SECTION -->
    <div class="header-top-section header-typo-light dark-bg navbar hidden-xs" id="header-top-bar">
        <div class="container">
            <!-- CONTAINER -->
            <!-- TOGGLE ICON -->
            <div class="navbar-header nav-respons">
                <button data-target=".topnavbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" aria-expanded="false" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /. TOGGLE ICON -->
            <div class="navbar-collapse topnavbar-collapse collapse">
                <!-- HEADER TOP LEFT -->
                <ul class="nav navbar-nav top-left">
                    <!-- HEADER TEXT BLOCK -->
                    <li>
                        <!-- <p class="header-text-block typo-light">Welcome to the creative template for Industries.</p> -->
                    </li>
                    <!-- /. HEADER TEXT BLOCK -->
                </ul>
                <!-- /. HEADER TOP LEFT -->
                <!-- HEADER TOP RIGHT -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- SOCIAL ICONS -->
                    <li>
                        <ul class="header-social-icons">
                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li class="google-plus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li class="youtube"><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <li class="dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </li>
                    <!-- /. SOCIAL ICONS -->
                </ul>
                <!-- /. HEADER TOP RIGHT -->
            </div>
        </div>
    </div>
    <!-- /. HEADER TOP SECTION -->
    <!-- HEADER Logo SECTION -->
    <div class="dark-bg hidden-xs">
        <div class="container">
            <!-- CONTAINER -->
            <!-- TOGGLE ICON -->
            <div class="navbar-header logo-contact-details">
                <a class="navbar-toggle" href="#nav-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- LOGO & LOGO STICKY  -->
                <a class="navbar-brand hidden-sm no-left-padding" href="index.html"><img src="/images/logo-light.png" alt="logo" width="200" ><img src="images/logo.png" class="sticky-logo" alt="logo">
                    
                </a>
            </div>
            <!-- /. TOGGLE ICON -->
            <div class="header-widgets navbar-right">
                <div class="widget widget-icon-box">
                    <a class="icon-box" href="tel:123456789">
                        <!-- ICON -->
                        <i class="fa fa-phone fa-3x"></i>
                        <!-- CONTACT DETAILS -->
                        <div class="icon-box-text">
                            <h4 class="icon-box-title">9699986991</h4>
                            <span class="icon-box-subtitle">info@janvienterprice.com</span>
                        </div>
                    </a>
                </div>
                <div class="widget widget-icon-box">
                    <a class="icon-box" href="tel:9699986991">
                        <!-- ICON -->
                        <i class="fa fa-home fa-3x"></i>
                        <!-- ADDRESS -->
                        <div class="icon-box-text">
                            <h4 class="icon-box-title">Anand Nager</h4>
                            <span class="icon-box-subtitle">Vasai (West) 401202</span>
                        </div>
                    </a>
                </div>
                <div class="widget widget-icon-box">
                    <a class="icon-box" href="tel:9699986991">
                        <!-- ICON -->
                        <i class="fa fa-clock-o fa-3x"></i>
                        <!-- TEXT -->
                        <div class="icon-box-text">
                            <h4 class="icon-box-title">Mon - Sat 8.00 - 18.00</h4>
                            <span class="icon-box-subtitle">Sunday CLOSED</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /. HEADER Logo SECTION -->
    <!-- STICKY WRAPPER -->
    <div id="sticker" class="header-main sticky-navigation s-header">
        <nav class="navbar navbar-default fixed">
            <div class="container">
                <!-- TOGGLE ICON -->
                <div class="navbar-header">
                    <a class="navbar-toggle" href="#nav-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- LOGO & LOGO STICKY  -->
                    <a class="navbar-brand hidden-md hidden-lg" href="/"><img src="images/logo.png" alt="logo" width="85" height="19">
                        <img src="images/logo.png" class="sticky-logo" alt="logo" width="85" height="19">
                        Janvi Enterprises
                    </a>
                </div>
                <!-- /. TOGGLE ICON -->
                <!-- EXTRA NAV (FOR ELEMENTS) -->
                <div id="extra-nav" class="extra-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- TOGGLR SEARCH -->
                        <li class="dropdown search-dropdown">
                            <a id="search-toggle" class="header-toggle-icon" href="#"> <span class="flaticon-magnifying-glass"></span></a>
                        </li>
                        <!-- /. TOGGLR SEARCH -->
                        <!-- CART -->
   
                        <!-- /.CART -->
                        <!-- TOGGLE BUTTON FOR SIDE NAV -->
     
                     
                    </ul>
                </div>
                <!-- /. EXTRA NAV (FOR ELEMENTS) -->
                <!-- MAIN MENU -->
                <div id="nav-menu">
                    <ul class="nav f-child navbar-nav navbar hover-dropdown">
                        <!-- DROPDOWN -->
                        <li class="dropdown">
                            <a href="/" class="dropdown-toggle">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="/about" class="dropdown-toggle">About us</a>
                        </li>
                        <li class="dropdown">
                            <a href="/product" class="dropdown-toggle">Products</a>
                            <ul class="dropdown-menu">
                                {{ range where .Site.RegularPages "Type" "product" }}   
                                <!-- MENU -->
                                    <li><a href="{{ .Permalink }}">{{.Title}}</a></li>
                                {{ end }}
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/contact_us" class="dropdown-toggle">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- /. MAIN MENU -->
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- /. STICKY WRAPPER -->
</header>