{{ define "content" }}
<section class="bg-fixed page-header bg-no-repeat typo-light" data-background="images/content/bg/elements/7.jpg">
    <div class="overlay-darker"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 text-left">
                <!-- TITLE  -->
                <h2 class="text-uppercase bottom-line" data-animated="fadeInLeftBig" data-animation-delay="400">Contact Us</h2>
                <!-- BREADCRUMB-->
                <!-- <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li class="active">Contact Us</li>
                </ul> -->
            </div>
        </div>
    </div>
</section>
<!-- PAGE HEADING SECTION -->
<!-- ADDRESS SECTION -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <address>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-map-marker"></i>
                        </div>	
                        <div class="inner-wrapper">
                            <!-- ADDRESS -->
                            <p class="feature-description"> Shop No.53 Survey No.34 Hissa No.1b<br> Dhumal Nagar Road, Opp Gausiya Weight,<br>Near Lavdeep Bldg,Waliv Vasai (E).<br>Dist. Palghar 401208.</p>	
                        </div>	
                    </div>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-phone"></i>
                        </div>	
                        <div class="inner-wrapper">
                            <!--  PHONE NUMBER -->
                            <p class="feature-description"> 9822340937</p>
                        </div>	
                    </div>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-fax"></i>
                        </div>	
                        <div class="inner-wrapper">
                        
                            <p class="feature-description"> 7757967675</p>
                        </div>	
                    </div>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-envelope"></i>
                        </div>	
                        <div class="inner-wrapper">
                            <!-- EMAIL -->
                            <p class="feature-description"><a class="a-active" href="mailto:info@processrecycling.com">info@processrecycling.com</a></p>
                        </div>	
                    </div>
                    <div class="theme-bg typo-light top-margin-sm">
                        <blockquote><h5>We ensure quality & support. People love us & we love them</h5>
                        </blockquote>
                    </div>
                    <div class="feature-box style-3">
                        <div class="icon-wrapper">
                            <!-- ICON -->
                            <i class="fa fa-clock-o"></i>
                        </div>	
                        <div class="inner-wrapper">
                            <!-- EMAIL -->
                            <p class="feature-description">
                                Mon - Sat 9:30 to 6:00<br>
                                Sunday CLOSED
                                </p>
                        </div>	
                    </div>
                    </address>
            </div>
            <div class="col-sm-8">
                <p class="form-message" style="display: none;"></p>
                <div class="contact-form">
                    <!-- Form Begins -->
                    <form name="bootstrap-form" id="bootstrap-form" method="post" action="php/contact-form.php">
                        <!-- Field 1 -->
                        <div class="input-text form-group">
                            <input type="text" name="contact_name" class="input-name form-control" placeholder="Full Name *" />
                        </div>
                        <!-- Field 2 -->
                        <div class="input-email form-group">
                            <input type="email" name="contact_email" class="input-email form-control" placeholder="Email *" />
                        </div>
                        <!-- Field 3 -->
                        <div class="input-email form-group">
                            <input type="text" name="contact_phone" class="input-phone form-control" placeholder="Phone *" />
                        </div>
                        <!-- Field 4 -->
                        <div class="textarea-message form-group">
                            <textarea name="contact_message" class="textarea-message form-control" placeholder="Message *" rows="4"></textarea>
                        </div>
                        <!-- Button -->
                        <button class="btn btn-lg btn-theme btn-square btn-hv-dark btn-hv-dark btn-default" type="submit">SEND MESSAGE</button>
                    </form>
                    <!-- Form Ends -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ADDRESS SECTION -->
<!-- MAP SECTION -->
<!--MAP-->
<div style="height: 350px;" class="map-canvas" data-zoom="12" data-lat="19.404876" data-lng="72.830175" data-title="Process Reclying" data-type="roadmap" data-hue="" data-content=" Dhumal Nagar Road&lt;br&gt; Contact: 9822340937&lt;br&gt; info@processrecycling.com"></div>
<!-- MAP SECTION -->
{{ end }}